.home {
  width: 100%;
  background-color: #fff3f3;
  color: #222;
}
.homeButtons {
  display: flex;
  gap: 16px;

  a {
    padding: 13px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
  
  .primaryButton {
    background: #fa663d;
    color: white;
    
    &:hover {
      background: #f85123;
    }

    &:focus-visible {
      outline: 2px solid #ff6c43;
      outline-offset: 3px;
    }
  }
  .secondaryButton {
    background: transparent;
    color: #ff6c43;
    border: 1px solid #ff724c;

    &:hover {
      color: white;
      background: #f34f22;
    }
  }



.roles {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  p {
    font-size: 18px;
    font-weight: 500;
    color: #222;
  }
}
.name {
  color: #ff6c43;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
}
.tagline {
  font-size: 30px;
  font-weight: 600;
  color: #222;
}
.description {
  max-width: 550px;
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.75;
}
.hero {
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  gap: 14px;
}
.greeting {
  font-size: 15px;
  font-weight: 500;
  color:  #222;
  letter-spacing: 1px;
}
.personalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  margin: 0;
  padding: 0;

}

.about {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}
.sectionTitle {
  text-align: center;
  font-size: 40px;
  color: #ff6c43;
  margin-bottom: 60px;
}
.whoIAm {
  h3 {
    font-size: 28px;
    color: #222;
    margin-bottom: 16px;
  }

  p {
    max-width: 650px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 40px;
  }
}
.infoItem {
  border-bottom: 1px solid rgba(255, 108, 67, 0.25);
  padding-bottom: 16px;

  dt {
    font-size: 13px;
    font-weight: 600;
    color: #ff6c43;
    margin-bottom: 6px;
  }

  dd {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin: 0;
  }
}